


<br>
<br>


<div class="center">
  
      <div id="carrusel-contenido">
          <div id="carrusel-caja">
              <div class="carrusel-elemento">
                  <img class="imagenes" src="./assets/Frutal6.jpg" >
              </div>
              <div class="carrusel-elemento">   
                  <img class="imagenes" src="./assets/carrusel.jpg">
              </div>
              <div class="carrusel-elemento">   
                  <img class="imagenes" src="./assets/car.jpg">                        
              </div>
              
          </div>
      </div>
      
  </div>















