<app-header></app-header>


<div class="container container-md-fluid">
  <div class="row ">
      <div class="col-auto col-md-10  ">
          <nav aria-label="breadcrumb " class="first   d-md-flex bg-violet" >
              <ol class="breadcrumb indigo lighten-6 first-1 shadohttpsw-lg mb-5  ">
                  <li class="breadcrumb-item font-weight-bold"><a class="black-text text-uppercase" routerLink="/home"><span  >home</span></a><img class="ml-md-3" src="://https://pic.onlinewebfonts.com/svg/img_352517.png" width="20" height="20"> </li>


              </ol>
          </nav>
      </div>
  </div>
</div>
<h1>ERROR 404 :C</h1>
<div class="container text-center pb-5">
    <div ><img src="https://st2.depositphotos.com/1742172/10198/v/450/depositphotos_101982410-stock-illustration-cartoon-broken-robot.jpg"></div>
    <h2>Lo sentimos, la página que busca no exite</h2>
    <h4>El motivo puede ser:</h4>
    <h3>- Una dirección mal escrita</h3>
    <h3>- Un link no actualizado</h3>
    <h3>- Un link no actualizado</h3>
  </div>
