<app-header></app-header>

<div class="container container-md-fluid">
  <div class="row ">
      <div class="col-auto col-md-10  ">
          <nav aria-label="breadcrumb " class="first   d-md-flex bg-violet" >
              <ol class="breadcrumb indigo lighten-6 first-1 shadohttpsw-lg mb-5  ">
                  <li class="breadcrumb-item font-weight-bold"><a class="black-text text-uppercase" routerLink="/home"><span  >home</span></a><img class="ml-md-3" src="://https://pic.onlinewebfonts.com/svg/img_352517.png" width="20" height="20"> </li>
                  <li class="breadcrumb-item font-weight-bold"><a class="black-text text-uppercase" routerLink="/home"><span  >Misión y visión</span></a><img class="ml-md-3" > </li>


              </ol>
          </nav>
      </div>
  </div>
</div>



<h1>MISIÓN</h1>
<h2>"Nuestra Misión es elaborar productos de alta calidad, utilizando lo mejores ingredientes y buena técnica; innovando en sabores y recetas. Con el propósito de entregar a nuestros Clientes, una experiencia inolvidable de sabor, con nuestras recetas gourmet."

</h2>
<br>
<br>
<br>
<h1>VISIÓN</h1>
<h2>Nuestro desafío es ser reconocidos como una de las tiendas en donde ofrecemos productos Gourmet, por la calidad, excelencia y variedad de nuestros productos.</h2>


<div align="center"><img src="https://tse3.mm.bing.net/th?id=OIP.oF66f6LVMYTnr4uDeNy0gwHaE8&pid=Api&P=0"></div>