<app-header></app-header>


<div class="container container-md-fluid">
  <div class="row ">
      <div class="col-auto col-md-10  ">
          <nav aria-label="breadcrumb " class="first   d-md-flex bg-violet" >
              <ol class="breadcrumb indigo lighten-6 first-1 shadohttpsw-lg mb-5  ">
                  <li class="breadcrumb-item font-weight-bold"><a class="black-text text-uppercase" routerLink="/home"><span  >home</span></a><img class="ml-md-3" src="://https://pic.onlinewebfonts.com/svg/img_352517.png" width="20" height="20"> </li>
                  <li class="breadcrumb-item font-weight-bold"><a class="black-text text-uppercase" routerLink="/home"><span  >Contactanos</span></a><img class="ml-md-3" src="://https://pic.onlinewebfonts.com/svg/img_352517.png" width="20" height="20"> </li>


              </ol>
          </nav>
      </div>
  </div>
</div>

<h1>CONTACTANOS</h1>
<div align="center"><img src="./assets/correo.png"width="100" height="100"></div>


<div class="signupFrm">
    <form action="" class="form">

      <div class="inputContainer">
        <input type="text" class="input" placeholder="a">
        <label for="" class="label">Nombre</label>
        
      </div>

      <div class="inputContainer">
        <input type="text" class="input" placeholder="a">
        <label for="" class="label">Email</label>
      </div>
      <div class="inputContainer">
        <input type="text" class="input" placeholder="a">
        <label for="" class="label">Mensaje</label>
      </div>

      
    



      <input type="submit" class="submitBtn" value="ENVIAR">
    </form>
  </div>