
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
       <title>Gelatinas Rubi</title>
</head>
<body>
    <nav>
        <p class="logo-danicodex">GELATINAS"RUBI"</p>

        

      
        <ul class="cont-ul">

          <li class="develop">
            Gelatinas
            <ul class="ul-second">
              <li class="back" routerLink="/frutales">Frutales</li>
              <li class="front"routerLink="/personalizadas">
                  Personalizadas

              </li>
            
            </ul>
            <li class="develop">
              Pasteles
              <ul class="ul-second">
                <li class="back" routerLink="/fiesta">Fiesta</li>
                <li class="front"routerLink="/boda">Boda y XV años</li>

            </ul>
          
            <li class="develop">
                Login
                <ul class="ul-second">
                  <li class="back"routerLink="/login">Iniciar Sesión</li>
                  <li class="front"routerLink="/registro">Registrarse </li>
  
              </ul>
            </li>

            <li class="develop">
                Acerca de nosotros
                <ul class="ul-second">

                    <li class="back"routerLink="/mision">Misión y visión</li>
                     
                </ul>  

            </li>

            <li class="develop">
            Contactanos
            <ul class="ul-second">

                <li class="back"routerLink="/contactanos">Contactanos</li>
            </ul>
    
        </ul>   
    </nav>
</body>

